<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Crypto Currency Lookup</h3>
  </div>
  <div class="panel-body">
            <%= form_tag home_lookup_path, class: "form-inline", :method => 'POST' do %>
                <div class="form-group">
                    <%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto Symbol', size: 50, class: "form-control" %>
                    <%= submit_tag 'Lookup Stock Quote', class: "btn btn-primary" %>
                </div>
            <% end %>
            <BR />
            <% if @symbol %>
                <% for x in @coins %>
                    <% if @symbol.upcase == x["symbol"] %>
                        <%= x["name"] %>: USD $<%= x["price_usd"] %><BR />
                        Rank: <%= x["rank"] %>
                    <% end %>
                <% end %>
            <% end %>
  </div>
</div>