<h1>Listing Cryptos</h1>
<BR />
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Rank</th>
      <th>Current Price (USD $)</th>
      <th>1 hour Change</th>
      <th>24 hour Change</th>
      <th>1 Day Change</th>
      <th>Cost per (USD $)</th>
      <th>Profit / Loss (%)</th>
      <th>Amount owned (USD $)</th>
      <th>Total Amount Paid (USD $)</th>
      <th>Date Purchased</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
        <% if crypto.user_id == current_user.id %>
            <% for coin in @lookup_crypto %>
                      <% if crypto.symbol.upcase == coin['symbol'] %>
                          <% @rank = coin['rank'] %>
                          <% @crypto_name = coin['name'] %>
                          <% @crypto_price = coin["price_usd"] %>
                          <% @one_hr_price = coin["percent_change_1h"] %>
                          <% @twentyfour_hr_price = coin["percent_change_24h"] %>
                          <% @oneday_price = coin["percent_change_7d"] %>
                      <% end %>
            <% end %>
            <tr>
              <td><%= link_to @crypto_name, crypto %></td>
              <td><%= crypto.symbol %></td>
              <td><%= @rank %></td>
              <td>$<%= @crypto_price %></td>
              <td><%= @one_hr_price %>%</td>
              <td><%= @twentyfour_hr_price %>%</td>
              <td><%= @oneday_price %>%</td>
              <td>$<%= crypto.cost_per %></td>
              <td>
                  <% @pnl_percent = number_with_precision( ((@crypto_price.to_f - crypto.cost_per)/crypto.cost_per) * 100, :precision =>2)  %>
                  <% if @pnl_precent.to_f >= 0 %>
                      <div style="color: green"><%= @pnl_percent %>%</div>
                  <% else %>
                      <div style="color: red"><%= @pnl_percent %>%</div>
                  <% end %>
              </td>
              <td>$<%= crypto.amount_owned %></td>
              <td>$<%= crypto.amount_owned*crypto.cost_per %></td>
              <td><%= crypto.date_purchased %></td>
            </tr>
           <%  @profit_loss += (@crypto_price.to_d - crypto.cost_per) * crypto.amount_owned %>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br />
<br />
<strong>Portfolio Profit / Loss: <%= number_to_currency(@profit_loss) %></strong>
<BR />
<BR />

<%= link_to 'New Crypto', new_crypto_path, class: "btn btn-default" %>
